ul{
    list-style-type:none;
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow:hidden;
    margin:0 0 0 0;
    background-color:#424242;
}

html{
    width:100%;
    height:100%;
}

.footer{
    position:fixed;
    left:0px;
    width:100%;
    height:10%;
    background-color:#424242;
    z-index:9999;
}

body{
    width:100%;
    margin:0;
}

li{
    float:left;
}

li a{
    display:block;
    color:white;
    text-align:center;
    padding:15px 20px;
    text-decoration:none;
}

li a:hover{
    background-color:#111;
}

li a:active{
    background-color:#3b743d;
}
